body {
  font-family: "Lato", sans-serif;
}
.paw {
  width: 50px;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  background-color: white;
}
.mobile img,
a {
  cursor: pointer;
}
a:hover {
  font-weight: bold;
  font-size: large;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* position: fixed; */
  /* width: 100%;
  height: 30px; */
  /* background-color: rgb(246, 241, 241); */
}

a.header-link {
  text-decoration: none;
  color: rgb(146, 146, 118);
  text-transform: uppercase;
  display: none;
}
.cattery-name {
  position: relative;
  margin-top: 50px;
}
.cattery-name img {
  width: 100%;
}
.cattery-in-head {
  font-size: 50px;
  font-weight: bold;
  color: rgb(1, 100, 1);
  margin: 0;
  font-family: "Grape Nuts", cursive;
  /* font-family: "Send Flowers", cursive; */
  position: absolute;
  left: 35%;
  top: -10%;
  z-index: 10;
  padding: 10px;
}
.available-kittens a {
  text-decoration: none;
  color: rgb(1, 100, 1);
  background-color: lightyellow;
  border-radius: 5px;
  position: absolute;
  width: auto;
  left: 35%;
  top: 80%;
  z-index: 5;
  padding: 10px;
}

.about-cattery {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}
.about-cattery-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}
.about-cattery-text {
  color: gray;
  line-height: 30px;
  padding: 0 20px;
}
.about-cattery-img img {
  width: 90%;
  padding: 20px 0;
}
.about-cattery-img {
  text-align: center;
}
hr {
  border: 2px solid olive;
  width: 50%;
  margin: 20px 0;
  border-radius: 5px;
}

.breed-features {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}
.breed-features-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}
.breed-features-text {
  color: gray;
  line-height: 30px;
  padding: 0 20px;
}
.breed-features-img img {
  width: 80%;
  padding: 20px 0;
}
.breed-features-img {
  text-align: center;
}

ul {
  list-style: none;
}
.breed-features-text ul li:before {
  content: "\2714\0020";
  color: lightgreen;
}
.breed-features-text ul li {
  padding: 10px 0;
}

.best-cattery {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}

.best-cattery-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}

.best-cattery-text {
  color: gray;
  line-height: 30px;
  padding: 0 20px;
}

.best-cattery-img img {
  width: 50%;
  padding: 20px 0;
}
.best-cattery-img {
  text-align: center;
}
/* .best-cattery-text ul li {
  padding: 10px 0;
}
.best-cattery-text ul {
  padding: 0;
} */

.stud,
.queen {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}

.stud-header,
.queen-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}

.stud-text,
.queen-text {
  color: gray;
  line-height: 30px;
  padding: 0 20px;
}

.queen-img img {
  width: 70%;
  padding: 20px 0;
}
.stud-img img {
  width: 90%;
  padding: 20px 0;
}
.stud-img,
.queen-img {
  text-align: center;
}

.litter {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}

.litter-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}

.litter-text {
  color: gray;
  line-height: 30px;
  padding: 0 20px;
}

.litter-img img {
  width: 70%;
  padding: 20px 0;
}

.litter-img {
  text-align: center;
}

.blog {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}

.blog-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}

.blog-text {
  color: gray;
  line-height: 30px;
  padding: 0 20px;
}

.gallery {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}

.gallery-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}

.gallery-img img {
  width: 90%;
  padding: 20px 0;
}

.gallery-img {
  text-align: center;
}

.feed {
  padding: 50px 20px;
  background-image: linear-gradient(white, lightyellow);
}

.feed-header {
  color: rgb(1, 100, 1);
  font-family: "Grape Nuts", cursive;
  text-align: center;
}

.feed-text {
  color: gray;
  line-height: 30px;
  padding: 0 20px;
}

.contact-form {
  background: rgb(0, 0, 0, 0.5) url(../img/image_6483441-34.JPG);
  background-blend-mode: darken;
  background-size: cover;
  padding: 50px 20px;
  text-align: center;
  color: white;
}
.contacts {
  padding: 50px 0;
}
.email img,
.tel img {
  width: 40px;
}
.email-text,
.tel-text {
  font-size: 25px;
}

.footer {
  color: rgb(153, 152, 152);
  background-color: rgb(27, 27, 26);
  padding: 10px 0;
  text-align: center;
}
.footer p {
  margin: 0;
}
.best-cattery-img-desktop {
  display: none;
}

.active {
  width: 40%;
}
.active img {
  width: 50%;
  height: auto;
}

@media (min-width: 744px) {
  .mobile {
    display: none;
  }
  a.header-link {
    display: inline-block;
    margin: 0 10px;
  }

  .about-cattery-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .about-cattery-img,
  .about-cattery-text {
    width: 50%;
  }
  .about-cattery {
    padding: 100px 50px;
    /* font-size: 18px; */
  }
  .about-cattery-img img {
    width: 60%;
  }
  .breed-features-desktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .breed-features-img,
  .breed-features-text {
    width: 50%;
    text-align: center;
  }
  .breed-features {
    padding: 100px 50px;
    /* font-size: 18px; */
  }
  .breed-features-img img {
    width: 50%;
  }

  .best-cattery-desktop {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .best-cattery-text-and-img {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
  }

  hr {
    margin-bottom: 50px;
    margin-left: 20%;
  }

  .stud-img img,
  .queen-img img {
    width: 30%;
  }
}
